.App {
  text-align: center;
}

.App-logo-mark {
  width: 70px;
  height: 70px;
  pointer-events: none;
}

.App-logo-img {
  width: 143px;
  height: 59px;
  pointer-events: none;
  margin-left: 1rem;
}

.App-main {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Search-main {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-login-button {
  cursor: pointer;
  color: #fff;
  font-size: calc(1px + 2vmin);
  font-weight: bold;
  border-width: 0;
  background-color: #5c5c5c;
  padding: calc(4px + 1vmin) calc(8px + 2vmin);
  border-radius: 5px;
}

.App-Search-button {
  cursor: pointer;
  margin-top: 1.5rem;
  color: #fff;
  font-size: calc(1px + 2vmin);
  font-weight: bold;
  border-width: 0;
  background-color: #5c5c5c;
  padding: calc(4px + 1vmin) calc(8px + 2vmin);
  border-radius: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Search-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10.25rem;
}

.App-Search-Input-arrange {
  position: relative;
  margin-top: 20px;
}

.App-Search-input {
  width: 31rem;
  height: 3.125rem;
  border-radius: 1.625rem;
  padding: 0 2.5rem;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.App-Search-Input-icon-arrange {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  right: 0;
}

.App-Search-Input-icon {
  color: rgba(0, 0, 0, 0.6);
  padding-right: 0.8rem;
}

.App-link {
  color: #61dafb;
}

.App-User-arrange {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  margin-right: 40px;
  margin-top: 1rem;
}

.App-User-avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  pointer-events: none;
}

.App-User-name {
  font-size: 1rem;
  margin-left: 10px;
  color: #1d1d1d;
}

.App-Search-Chevron {
  margin-left: 10px;
  color: #020202;
  cursor: pointer;
}

.App-User-popper {
  color: red;
  background: white;
  font-size: 1rem;
  padding-left: 2.375rem;
  border-radius: 4px;
  border: 1px solid #edeff3;
  box-sizing: border-box;
  width: 12.5rem;
  height: 3.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.App-User-popper-arrow {
  position: absolute;
  width: 10px;
  height: 10px;
}

.App-User-popper-arrow::after {
  content: "";
  position: absolute;
  top: -28px;
  left: 0;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: white;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.App-User-logout {
  cursor: pointer;
}

.App-Results-main {
  background-color: #fafbfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-Results-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  padding-top: 0.8rem;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.App-Results-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-Results-User-arrange {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.App-Search-input {
  width: 23.75rem;
  height: 3.125rem;
  border-radius: 1.625rem;
  padding: 0 2.5rem;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.App-Results-Input-icon-arrange {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  right: 0;
}

.App-Results-Input-arrange {
  position: relative;
}

.App-Results-results-arrange {
  display: flex;
  flex-direction: row;
  margin-top: 1.875rem;
}

.App-Results-results-count {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 14.375rem;
  width: 17.5rem;
  height: 6.125rem;
  font-size: 12px;
  padding: 1.875rem;
}

.App-Results-results-data {
  margin-left: 1.25rem;
}

.App-Results-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  margin-top: 1.25rem;
  padding: 1.5625rem;
}

.App-Results-active-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f7f7f8;
  width: 13.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: 2.5rem;
}

.App-Results-inactive-data {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 13.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: 2.5rem;
}

.App-Results-data-count {
  background-color: #dcdcdf;
  height: 1.25rem;
  width: 2.625rem;
  border-radius: 0.625rem;
  text-align: center;
  line-height: 1.25rem;
}

.App-RepoItem-header {
  font-weight: bold;
  font-size: 1rem;
  text-align: start;
}

.App-RepoItem-description {
  color: #babbc2;
  font-size: 1rem;
  text-align: start;
  margin-top: 1.25rem;
}

.App-RepoItem-details {
  color: #babbc2;
  font-size: 0.9rem;
  text-align: start;
  margin-top: 1.5625rem;
}

.App-UserItem-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.App-UserItem-name {
  font-weight: bold;
  font-size: 1rem;
  text-align: start;
}

.App-UserItem-login {
  color: #babbc2;
  font-size: 1rem;
  text-align: start;
  margin-left: 1rem;
}

.App-UserItem-bio {
  color: #babbc2;
  font-size: 0.9rem;
  text-align: start;
  margin-top: 1.5625rem;
}

.App-Results-results-data-results {
  text-align: start;
  font-size: 1.5rem;
  font-weight: bold;
}

.App-Pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 57.47rem;
  margin-top: 4.375rem;
  margin-bottom: 6.25rem;
}

.App-Pagination-chevron-active {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  line-height: 2.5rem;
  margin-left: 1.25rem;
}

.App-Pagination-chevron-active:nth-child(1) {
  margin-left: 0;
}

.App-Pagination-chevron-inactive {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f3f3f3;
  color: #b1b7c2;
  border-radius: 10px;
  line-height: 2.5rem;
}

.App-Pagination-pages {
  margin-left: 1.25rem;
}

.App-no-match {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-no-match-arrange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
