.App {
  text-align: center;
}

.App-logo-mark {
  width: 70px;
  height: 70px;
  pointer-events: none;
}

.App-logo-img {
  width: 143px;
  height: 59px;
  pointer-events: none;
  margin-left: 1rem;
}

.App-main {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-login-button {
  cursor: pointer;
  color: #fff;
  font-size: calc(1px + 2vmin);
  font-weight: bold;
  border-width: 0;
  background-color: #5c5c5c;
  padding: calc(4px + 1vmin) calc(8px + 2vmin);
  border-radius: 5px;
}

.App-Search-button {
  cursor: pointer;
  margin-top: 1.5rem;
  color: #fff;
  font-size: calc(1px + 2vmin);
  font-weight: bold;
  border-width: 0;
  background-color: #5c5c5c;
  padding: calc(4px + 1vmin) calc(8px + 2vmin);
  border-radius: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Search-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-Search-Input-arrange {
  position: relative;
  margin-top: 20px;
}

.App-Search-input {
  width: 36rem;
  height: 3.125rem;
  border-radius: 1.6025rem;
  padding: 0 2.5rem;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
}


.App-Search-Input-icon-arrange {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  right: 0;
}

.App-Search-Input-icon {
  color: rgba(0, 0, 0, 0.6);
  padding-right: 0.8rem;
}

.App-link {
  color: #61dafb;
}

.App-User-arrange {
  display: flex;
  flex-direction: row;
}

.App-User-avatar {
  width: 70px;
  height: 70px;
  pointer-events: none;
}

.App-User-name {
  margin-left: 10px;
  color: #1D1D1D;
}
